<hr />

<div class="row">
  <div class="col">
    <app-input-pais
      (onSearchPaisInHijo)="buscarInPadre($event)"
      dataPlaceholder="Buscar por capital..."
    ></app-input-pais>
  </div>
</div>

<hr />

<div *ngIf="hayError" class="alert alert-danger">
  No se encontró nada con el termino {{ termino }}
</div>

<div *ngIf="paisesInPadre.length > 0" class="row">
  <div class="col">
    <app-tabla-paises
      [paisesFromPadreToHijo]="paisesInPadre"
    ></app-tabla-paises>
  </div>
</div>
